<!doctype html>
<html lang="{{ $.Site.Language.Lang }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta name="google-site-verification" content="lLEpfcaivB1AF8AEGUvPKvB1hOJKF-JkJPDTSORlJLU" />

    <base href="{{ $.Site.BaseURL }}">
    <title>{{ $.Site.Title }}</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <link rel="stylesheet" href="css/main.css"/>

    <meta name="description" content="We love making amazing websites. Web design and web development based out of Lubbock, Tx."/>
    <link rel="canonical" href="https://cyclops.digital{{ .URL }}" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Cyclops Creative" />
    <meta property="og:description" content="We love making amazing websites. Web design and web development based out of Lubbock, Tx." />
    <meta property="og:url" content="https://cyclops.digital{{ .URL }}" />
    <meta property="og:site_name" content="Cyclops Creative" />
    <meta property="og:image" content="https://cyclops.digital/images/og-image.png" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:description" content="We love making amazing websites. Web design and web development based out of Lubbock, Tx." />
    <meta name="twitter:title" content="Cyclops Creative" />
    <meta name="twitter:image" content="https://cyclops.digital/images/og-image.png" />

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-119542786-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-119542786-1');
    </script>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </head>
  <header>
    {{ partial "nav.html" . }}
  </header>
  <body>
