.cyclops-home__cyclops {
  position: absolute !important;
  top: 40% !important;
  left: 33.5% !important;
  // transform: translate(-50%, -50%);
  width: 33%;

  &::after {
    content: '';
    display: block;
    position: relative;
    padding-top: 100%;
    width: 100%;
  }

  @media (min-width: $breakpoint-tablet) {
    top: 42.5% !important;
    left: 42.5% !important;
    width: 15%;
  }
  @media (min-width: $breakpoint-desktop) {
    top: calc(50% - 4rem) !important;
    left: calc(50% - 4rem) !important;
    width: 8rem;
  }

  .cyclops-home-cyclops__outline {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }

  .cyclops-home-cyclops__iris {
    position: absolute;
    top: 48%;
    left: 15%;
    width: 70%;
    z-index: 3;

    svg {
      width: 2.5rem;
      transform: translateX(60%);

      @media (min-width: $breakpoint-tablet) {
        transform: translateX(50%);
      }
      @media (min-width: $breakpoint-desktop) {
        transform: translateX(60%);
      }
    }
  }

  .cyclops__laser {
    position: absolute;
    top: 80%;
    left: 50%;
    width: 0.375rem;
    height: 0;
    transform-origin: top left;
    z-index: 2;

    .cyclops-laser__inside {
      position: relative;
      background: rgba($red, 0.6);
      width: 100%;
      height: 100%;
      border-radius: 0.1875rem;
      box-shadow: 0rem 0rem 1rem 0rem rgba($red, 1);
      z-index: 2;

      .cyclops-laser-inside__bright {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: lighten($red, 20%);
        opacity: 1;
        width: 1px;
        height: 100%;
      }
    }

    .cyclops-laser__projectile {
      position: absolute;
      top: 0%;
      left: 5%;
      background-color: rgba($red, 0.3);
      width: 90%;
      height: 5%;
      border-radius: 50%;
      animation: 0.25s laserProjectile infinite;
    }
  }
}

@keyframes laserProjectile {
  from { top: 0%; }
  to { top: 95%; }
}
