.cyclops__home {
  position: relative;
  width: 100%;
  height: 100vh;
  animation: bigZoomOut 0.85s cubic-bezier(0.645, 0.045, 0.355, 1) forwards;
  z-index: 1;

  #cyclops__home {
    width: 100%;
    height: 100vh;
  }

  h1 {
    position: absolute;
    right: $page-margin;
    bottom: $page-margin;
    font-size: 1.25rem;
    line-height: 1;
    margin: 0;

    @media (min-width: $breakpoint-tablet) {
      right: $page-margin-tablet;
      bottom: $page-margin-tablet;
      font-size: 1.5rem;
    }
  }

  .cyclops__contact {
    position: absolute;
    bottom: $page-margin;
    left: $page-margin;

    @media (min-width: $breakpoint-tablet) {
      bottom: $page-margin-tablet;
      left: $page-margin-tablet;
    }

    a {
      display: block;
      position: relative;
      color: transparent;
      font-family: $font-league;
      text-decoration: none;
      transition: all 0.4s ease-in-out;

      @media (min-width: $breakpoint-tablet) {
        color: $black;
        font-size: 0.85rem;
        line-height: 1;
      }
      @media (min-width: $breakpoint-tablet-large) {
        font-size: 0.95rem;
      }

      &:hover {
        cursor: none;

        @media (min-width: $breakpoint-tablet) {
          color: $red;
        }

        &::before {
          content: '';
          color: $red;
        }
      }

      &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        background: url('/images/envelope-regular.svg') center no-repeat;
        background-size: 2rem;
        color: $black;
        width: 2rem;
        height: 2rem;

        @media (min-width: $breakpoint-tablet) {
          display: none;
        }
      }
    }
  }
}
